# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs and editors
.idea/
.vscode/

# Virtual environment
.venv/
virtualenv/
env/
venv/

certbot/conf/
certbot/www/
certbot/archive/
certbot/csr/
certbot/renewal/
