name: DBProject_BE-Continuous Deployment with Env

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Make .env file
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env

      - name: Copy .env to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          source: ".env"
          target: "/home/${{ secrets.SSH_USER }}/DBProject_BE"

      - name: SSH Remote Commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/${{ secrets.SSH_USER }}/DBProject_BE
            git fetch origin main
            git reset --hard origin/main
            docker-compose up -d --build
            docker image prune -f